@model Budgetary_App_Final_Edition.Models.Bills
@{
	ViewData["Title"] = "Create Bills";
}
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<section class="position-relative py-4 py-xl-5">
					<div class="container position-relative">
						<div class="row d-flex justify-content-center">
							<div class="col-1 col-md-8 col-lg-6 col-xl-5 col-xxl-12">
								<div class="row d-flex justify-content-center">
									<div class="col">
										<div class="card card mb-5">
											<div class="card-body text-center p-sm-5">
												<h2 class="text-center mb-4">Budgets</h2><small class="text-body-secondary">Entering your target budgets will help us determine if your savings and if whether you can last until the next cutoff&nbsp;</small>
												<hr>
												<form method="post">
													<div class="form-floating mb-3"><input class="form-control form-control" type="email" id="floatingInput-2" placeholder="name@example.com"><label class="form-label" for="floatingInput">Starting Budget</label></div>
													<div class="form-floating mb-3"><input class="form-control form-control" type="email" id="floatingInput-3" placeholder="name@example.com"><label class="form-label" for="floatingInput-1">Daily Budget</label></div>
													<hr>
													<div class="mb-3">
														<div class="dropdown">
															<button id="mopBtn" class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" style="width: 100%;background: var(--bs-secondary-bg);--bs-primary: ##6c757d;--bs-secondary: #6c757d;--bs-secondary-rgb: 108,117,125;" type="button">Mode of Payment</button>
															<div class="dropdown-menu">
																<a class="dropdown-item" href="#">Option A</a>
																<a class="dropdown-item" href="#">Option B</a>
																<a class="dropdown-item" href="#">Option C</a>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="card mb-5">
											<div class="card-body text-center p-sm-5">
												<h2 class="text-center mb-4">Expenses</h2><small class="text-body-secondary">Input your defined expenses whether if it's recurring or not. Expenses should be defined periodically approximately after 2 weeks or monthly.</small>
												<hr>
												<form method="post">
													<div class="form-floating mb-3"><input id="floatingInput-1" class="form-control form-control" placeholder="Food" /><label class="form-label" for="floatingInput">Expenses Name</label></div>
													<div class="form-floating mb-3"><input id="floatingInput-4" class="form-control form-control" type="number" placeholder="2000" name="amount" /><label class="form-label" for="floatingInput">Amount</label></div>
													<div class="mb-3"></div>
													<div class="mb-3">
														<div class="dropdown">
															<button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;background: var(--bs-secondary-bg);">Categories</button>
															<div class="dropdown-menu">
																<a class="dropdown-item" href="#">Option A</a>
																<a class="dropdown-item" href="#">Option B</a>
																<a class="dropdown-item" href="#">Option C</a>
															</div>
														</div>
													</div>
													<hr>
													<div><button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-secondary-bg);">Submit</button></div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="row" style="margin-top: -106px;">
			<div class="col-md-6 col-xxl-12">
				<section class="position-relative py-4 py-xl-5" style="height: auto;">
					<div class="container position-relative">
						<div class="row d-flex justify-content-center" style="height: auto;">
							<div class="col-xxl-12 card card mb-5" style="height: auto;">
								<div class="table-responsive" style="height: auto;max-height: 500px;">
									<table class="table table-striped table-hover table tablesorter" id="ipi-table">
										<thead class="thead-dark">
											<tr>
												<th class="text-center">Name</th>
												<th class="text-center">Category</th>
												<th class="text-center">Amount</th>
												<th class="text-center filter-false sorter-false">Actions</th>
											</tr>
										</thead>
										<tbody class="text-center">
											<tr>
												<td>Ana</td>
												<td>Diseñador</td>
												<td>Diseño</td>
												<td class="text-center align-middle" style="max-height: 60px;height: 60px;"><a class="btn btnMaterial btn-flat success semicircle" role="button" href="BillsEdit.html"><i class="fas fa-pen"></i></a><a class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover" role="button" style="margin-left: 5px;" href="BillsDelete.html"><i class="fas fa-trash btnNoBorders" style="color: #DC3545;"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div><button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-secondary-bg);margin-top: 30px;margin-bottom: 30px;">Generate Reports</button></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

</body>
