<div class="container-fluid" style="width: 40%;">
        <div class="row">
            <div class="col">
                <section class="position-relative py-4 py-xl-5">
                    <div class="container position-relative">
                        <div class="row d-flex justify-content-center">
                            <div class="col-1 col-md-8 col-lg-6 col-xl-5 col-xxl-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">
                                        <div class="card mb-5">
                                            <div class="card-body p-sm-5">
                                                <h2 class="text-center mb-4">Edit Expenses</h2>
                                                <hr>
                                                <form method="post">
                                                    <div class="form-floating mb-3"><input id="floatingInput-1" class="form-control form-control" placeholder="Food" /><label class="form-label" for="floatingInput">Expenses Name</label></div>
                                                    <div class="form-floating mb-3"><input id="floatingInput-4" class="form-control form-control" type="number" placeholder="2000" name="amount" /><label class="form-label" for="floatingInput">Amount</label></div>
                                                    <div class="mb-3"></div>
                                                    <div class="mb-3"><div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="width: 100%;background: var(--bs-secondary-bg);">Categories</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Option A</a>
        <a class="dropdown-item" href="#">Option B</a>
        <a class="dropdown-item" href="#">Option C</a>
    </div>
</div></div>
                                                    <hr>
                                                    <div>
                                                        <div class="btn-group" role="group" style="width: 100%;"><a class="btn btn-primary d-block w-100" role="button" style="background:var(--bs-secondary-bg);" asp-controller="Bills" asp-action="BillsCreate">Go back to list</a><button class="btn btn-primary d-block w-100" type="submit" style="background:var(--bs-secondary-bg);">Submit</button></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
   