@model IEnumerable<Budgetary_App_Final_Edition.Models.Bills>

@{
	ViewData["Title"] = "Index";
}


<div class="container-fluid" style="height: 321%;">
	<div class="d-sm-flex justify-content-between align-items-center mb-4">
		<h3 class="text-dark mb-0"></h3>
	</div>
	<div class="row">
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-primary py-2" style="background: var(--bs-body-color);">
				<div class="card-body">
					<div class="row g-0 align-items-center">
						<div class="col me-2">
							<div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="color: var(--bs-body-bg);--bs-body-font-size: -1rem;">average SAVINGS (MONTHLY)</span></div>
							<div class="text-dark fw-bold h5 mb-0">&#x20B1;<span id="averageSavings"></span></div>
						</div>
						<div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-success py-2" style="background: var(--bs-body-color);">
				<div class="card-body">
					<div class="row g-0 align-items-center">
						<div class="col me-2">
							<div class="text-uppercase text-success fw-bold text-xs mb-1"><span style="color: var(--bs-body-bg);">Average EXPENSES (MONTHLY)</span></div>
							<div class="text-dark fw-bold h5 mb-0">&#x20B1;<span id="averageExpenses"></span></div>
						</div>
						<div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-info py-2" style="background: var(--bs-body-color);">
				<div class="card-body">
					<div class="row g-0 align-items-center">
						<div class="col me-2">
							<div class="text-uppercase text-info fw-bold text-xs mb-1"><span style="color: var(--bs-body-bg);">SAVINGS:EXPENSES</span></div>
							<div class="row g-0 align-items-center">
								<div class="col-auto">
									<div class="text-dark fw-bold h5 mb-0 me-3"><span id="savingsToRatio"></span></div>
								</div>
								<div class="col">
									<div class="progress bg-body progress-sm" data-bs-theme="dark" style="color: var(--bs-progress-bar-color);background: var(--bs-progress-bar-color);border-color: var(--bs-progress-bar-color);">
										<div id="ratioProgress" class="progress-bar bg-light" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden"></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow border-left-warning py-2" style="background: var(--bs-body-color);">
				<div class="card-body">
					<div class="row g-0 align-items-center">
						<div class="col me-2">
							<div class="text-uppercase text-warning fw-bold text-xs mb-1"><span style="color: var(--bs-body-bg);">DAYS BEFORE NEXT CUTOFF</span></div>
							<div class="text-dark fw-bold h5 mb-0"><span id="daysLeft" ></span></div>
						</div>
						<div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 col-xl-8">
			<div class="card shadow mb-4" style="height: 278.188px;">
				<div class="card-header d-flex justify-content-between align-items-center" style="background:var(--bs-body-color);">
					<h6 class="fw-bold" style="color: var(--bs-body-bg);margin-bottom: 5px;margin-top: 5px;">Expenses Overview</h6>
				</div>

				@* Expenses Overview Chart *@
				<div class="card-body">
					<div class="chart-area" style="filter: invert(0%); color: var(--bs-body-color); height: 197px;">
						<canvas id="ExpensesOverviewChart"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-xl-4">
			<div class="card shadow mb-4">
				<div class="card-header d-flex justify-content-between align-items-center" style="background: var(--bs-body-color);">
					<h6 class="fw-bold" style="color: var(--bs-body-bg);">Expenses Sources</h6>
				</div>

				@* Expenses Sources Chart *@
				<div class="card-body">
					<div class="chart-area">
						<canvas id="expSrcsChrt"</canvas>
					</div>
					<div class="text-center small mt-4" id="chartLegend"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 col-xl-8">
			<div class="card shadow mb-4" style="height: 278.188px;">
				<div class="card-header d-flex justify-content-between align-items-center" style="background:var(--bs-body-color);">
					<h6 class="fw-bold" style="color: var(--bs-body-bg);margin-bottom: 5px;margin-top: 5px;">Actual Savings Overview</h6>
				</div>

				@* Savings Overview *@
				<div class="card-body">
					<div class="chart-area" style="filter: invert(0%);color: var(--bs-body-color);height: 197px;">
						<canvas id="svngOverview"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-xl-4">
			<div class="card shadow mb-4" style="height: 276.188px;">
				<div class="card-header d-flex justify-content-between align-items-center" style="background: var(--bs-body-color);">
					<h6 class="fw-bold" style="color: var(--bs-body-bg);">Predicted Savings based on (last three months)</h6>
				</div>

				@* Savings Chart (last three months) *@
				<div class="card-body">
					<div class="chart-area" style="height: 195px;">
						<canvas id="svngDonutChrt"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<partial name="_CreateTableView" />



