################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Sharp-Apps/v17
/Console Applications/.vs/Budgetary/FileContentIndex
/.vs
/Desktop Applications/Budgetary Desktop App Expanded/.vs
