@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="col-xl-10 col-xxl-8 container px-4 py-5" style="margin-bottom: 8%;">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold text-body-emphasis lh-1 mb-3">Forgotten your password?</h1>
            <p class="fs-4 col-lg-10">These kind of things happens to the best of us.</p>
        </div>
        <div class="col-md-10 col-lg-5 mx-auto">
            <form method="post" class="bg-body-tertiary p-4 p-md-5 border rounded-3">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control form-control" type="email" id="floatingInput" placeholder="name@example.com">
                    <label asp-for="Input.Email" class="form-label" for="floatingInput">Please enter your email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                </div>
                <a class="btn btn-primary btn-lg w-100" role="button" style="background: var(--bs-secondary-bg);" href="ForgotPasswordClicked.html">Forgot password</a>
                <hr class="my-4">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
