@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<div class="col-xl-10 col-xxl-8 container px-4 py-5">
	<div class="row align-items-center g-lg-5 py-5">
		<div class="col-lg-7 text-center text-lg-start">
			<h1 class="display-4 fw-bold text-body-emphasis lh-1 mb-3">Sign up now to manage your expenses!</h1>
			<p class="fs-4 col-lg-10">This version is kinda new. And this label is just a placeholder. :)</p>
		</div>
		<div class="col-md-10 col-lg-5 mx-auto">
			<form class="bg-body-tertiary p-4 p-md-5 border rounded-3" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

				<div class="form-floating mb-3">
					<input class="form-control form-control" type="email" id="floatingInput" asp-for="Input.Email" placeholder="name@example.com">
					<label asp-for="Input.Email" class="form-label" for="floatingInput">Email address </label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>

				</div>
				<div class="form-floating mb-3">
					<input class="form-control form-control" type="password" asp-for="Input.Password" id="floatingPassword" placeholder="Password">
					<label asp-for="Input.Password" class="form-label" for="floatingPassword">Password</label>
					</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control form-control" type="password" id="floatingPassword-1" placeholder="Password">
					<label asp-for="Input.Password" class="form-label" for="floatingPassword-1">Confirm Password</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>

					</div>
				<div class="checkbox mb-3"><label class="form-label"><input type="checkbox" value="remember-me"> Remember me </label></div><button class="btn btn-primary btn-lg w-100" type="submit" style="background: var(--bs-secondary-bg);">Sign up</button>
				<hr class="my-4"><small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
			</form>
		</div>
	</div>
